
<nav class="Navbar">
    <a href="#" class="logo">Essai</a>
    <div class="Navlinks">
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">PlanA</a></li>
            <li><a href="#">PlanB</a></li>
            <li><a href="#">PlanC</a></li>
        </ul>
    </div>
    <img src="img/menuHamburger.png" alt="Menu Hamburger" class="Menu-Hamburger">
</nav>


